{% extends 'layout.html' %}
{% block dart %}
    <script async type="application/dart" src="/static/scripts/index.dart"></script>
{% endblock %}

{% block content %}
    <div class="row center-xs site-item">
      <article id="about" class="col-xs-12 col-lg-10 panel shadow-6 frame">
        <header>
          <h2>About us :</h2>
        </header>
        <section>
          <div class="row center-xs">
            <div class="col-xs-12 panel about txt-left">
              <div class="logo-about txt-center">
                <img src="static/images/logo_med.png" alt="">
              </div>
              <p>
                Despite our best efforts, Sometimes gardens and hedges just get out of control!
              </p>
              <p>
                Does this sound familiar?
              </p>
              <p>
                Why not let US take care of your garden for you, so that you can sit back, relax and enjoy the space without all the hassle of maintaining it.
              </p>
              <p>
                It’s simple, we'll do all of the hard work so you don’t have to!
              </p>
              <p>
                At GardenerGeorge, a local business based in South Dublin, we pride ourselves on keeping your garden looking vibrant and healthy.
                We use high quality equipment such as Honda mowers, BlueBird Turf care equipment , Stihl and Toro. This, combined with our experienced team,  ensures  a professional service on your hedging and lawn, resulting in a great look for your garden.
                Our Garden maintenance service can be done as a once-off or on regular appointments, it’s up to you! And of course, We make sure that all grass clippings are removed and disposed of.
                Your lawn will be left looking healthy and great,  and ready for you to enjoy it!
              </p>
              <p>
                At GardenerGeorge we love the work that we do, and we love having happy customers. The good news is that we deliver a high quality service but at affordable prices, so why not contact us, for a no obligation, free quote at <a href="tel:0851859444">0851859444</a> or fill in the <a href="freequote.html">free quote</a> form on our website.
              </p>
              <p class="txt-14">
                <strong>We look forward to hearing from you!</strong>
              </p>
            </div>
          </div>
        </section>
      </article>
    </div>

  <div class="row center-xs site-item">
      <article id="reviews" class="col-xs-12 col-lg-10 panel shadow-6 frame">
        <header>
          <h2>Reviews :   <a href="https://www.google.ie/search?q=Gardener+George,+Kingswood,+Dublin&ludocid=13425528121736809499&gws_rd=ssl#lrd=0x486774aaa38cd199:0xba510eb1fa23cc1b,1">see all Google reviews</a></h2>
        </header>
        <section id="reviews-rows">
        </section>
      </article>
    </div>
{% endblock %}
