<!DOCTYPE html>
<html lang="pl">
<head>
  {% block head %}
  <meta charset="UTF-8">
  <title>George Gardener</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Gardener George Dublin">
  <meta name="keywords" content="gardner,george,garden,dublin">
  <meta name="author" content="AngrySoft" >
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/static/manifest.json">
  <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#8e2525">
  <meta name="theme-color" content="#8e2525">
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <link rel="stylesheet" href="/static/angry.min.css">
  <link rel="stylesheet" href="/static/styles.min.css">
  <!--
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61526037-4', 'auto');
  ga('send', 'pageview');

  </script>
  -->
  {% endblock %}

  <script async type="application/dart" src="/static/scripts/main.dart"></script>

  {% block dart %}
  {% endblock %}

  <script>
    // Copyright (c) 2013, the Dart project authors.  Please see the AUTHORS file
// for details. All rights reserved. Use of this source code is governed by a
// BSD-style license that can be found in the LICENSE file.

(function() {
// Bootstrap support for Dart scripts on the page as this script.
if (navigator.userAgent.indexOf('(Dart)') === -1) {
  // TODO:
  // - Support in-browser compilation.
  // - Handle inline Dart scripts.

  // Fall back to compiled JS. Run through all the scripts and
  // replace them if they have a type that indicate that they source
  // in Dart code (type="application/dart").
  var scripts = document.getElementsByTagName("script");
  var length = scripts.length;
  for (var i = 0; i < length; ++i) {
    if (scripts[i].type == "application/dart") {
      // Remap foo.dart to foo.dart.js.
      if (scripts[i].src && scripts[i].src != '') {
        var script = document.createElement('script');
        script.src = scripts[i].src.replace(/\.dart(?=\?|$)/, '.dart.js');
        var parent = scripts[i].parentNode;
        // TODO(vsm): Find a solution for issue 8455 that works with more
        // than one script.
        document.currentScript = script;
        parent.replaceChild(script, scripts[i]);
      }
    }
  }
}
})();
  </script>
</head>
  <body>
    <!-- TODO zapytanie o ciacho-->
    <div class="container">

        <div class="go-top">
            <img class="arrow-up" src="static/images/arrow_up.png">
        </div>

        <div class="row center-xs">
            <div id="top" class="logo col-xs-11 col-md-10 col-lg-6">
                <img src="static/images/logo.png" alt="">
            </div>
        </div>


        <div class="row center-xs nav-wrapper">
            <nav class="navbar nav-justify col-xs-12 col-md-11 light-brown animated">
                <header>
                    <div class="menu hamburger"></div>
                    <div class="header"><a href="http://www.gardenergeorge.ie/">Gardener George</a></div>
                </header>
                <div><a id="about-menu" href="/about">About</a></div>
                <div><a id="lawncare-menu" href="/lawncare">Lawn Care</a></div>
                <div><a id="maintenance-menu" href="/maintenance">Garden Maintenance</a></div>
                <div><a id="gutter-menu" href="/gutter">Gutter Cleaning</a></div>
                <div><a id="partners-menu" href="/partners">Our Partners</a></div>
                <div><a id="freequote-menu" href="/freequote">Free Quote</a></div>
                <div><a id="contact-menu" href="/contact">Contact</a></div>
            </nav>
        </div>

        <div class="row center-xs">
            <div class="col-xs-12 col-sm-8 col-md-8 social">
                <div><a href="https://plus.google.com/u/0/110311023372610006010" target="_blank"><img class="shadow-2" src="static/images/g.jpg" alt=""></a></div>
                <div><a href="https://www.facebook.com/GardenerGeorgeDublin" target="_blank"><img class="shadow-2" src="static/images/face.jpg" alt=""></a></div>
                <div><a href="https://www.youtube.com/channel/UCOz2RyYfp56SLzq3_oz3fLA" target="_blank"><img class="shadow-2" src="static/images/yt.jpg" alt=""></a></div>
            </div>
        </div>

    </div>

    <main class="container">
    {% block content %}
    {% endblock %}
    </main>

    {% block footer %}
    <footer class="container-fluid light-brown txt-center">
        <div class="row center-xs">
            <div class="col-xs">
                <p>Copyright © 2016-2018 <a target="_blank" href="#">
                    <img class="glogo" src="static/images/logo_small.png" alt="George Gardener">
                    George Gardener</a> . All Rights Reserved.</p>
                <p class="txt-tiny">Design by <a target="_blank" href="http://www.angrysoft.ovh">
                    <img class="alogo" src="static/images/angrysoft_logo.png" alt="AngrySoft"></a>
                </p>
            </div>
        </div>
    </footer>
    {% endblock %}
  </body>
</html>
