{% extends 'layout.html' %}
{% block dart %}
    <script async type="application/dart" src="/static/scripts/maintenance.dart"></script>
{% endblock %}

{% block content %}
  <div class="row center-xs site-item">
      <article id="maintenance" class="col-xs-12 col-lg-10 panel shadow-6 frame">
        <header>
          <h2>Garden Maintenance :</h2>
        </header>
        <div class="row center-xs">
            <div id="main-slider" class="col-xs-12 slider shadow-4 round">
                <img class="prevSlide">
                <img class="currentSlide">
                <div class="wrapper">
                    <img class="arrow-left" src="static/images/arrow_left.png">
                    <img class="arrow-right" src="static/images/arrow_right.png">
                </div>
            </div>
        </div>

        <section>
          <div class="offer-item">
            <div id="maintenance-slider" class="slider">
                <img class="prevSlide">
                <img class="currentSlide">
            </div>
            <div class="offer-item-head txt-center">
              <p>Regular maintenances</p>
              <p>Regular maintenance is essential to keep your garden looking beautiful year after year whatever the weather.
                We offer weekly, biweekly or monthly visits. We'll do the hard work so you can enjoy your garden.</p>
            </div>
          </div>

          <div class="offer-item">
            <div id="restoring-slider" class="slider">
                <img class="prevSlide">
                <img class="currentSlide">
            </div>
            <div class="offer-item-head txt-center">
              <p>Restoring</p>
              <p>
                Your garden is our of control and untidy? We will restore overgrown gardens.
              </p>
            </div>
          </div>

          <div class="offer-item">
            <div id="hedging-slider" class="slider">
                <img class="prevSlide">
                <img class="currentSlide">
            </div>
            <div class="offer-item-head txt-center">
              <p>Hedging and shrubs</p>
              <p>
                We will trim and  reshape of all sorts plants.
              </p>
            </div>
          </div>

          <div class="offer-item">
            <div id="turfing-slider" class="slider">
                <img class="prevSlide">
                <img class="currentSlide">
            </div>
            <div class="offer-item-head txt-center">
              <p>Turfing</p>
              <p>
                Need new turf/sod ? We can help. Our professional staff and BlueBird turf equipment can changeover your lawn just in one day ( *up to 100sqm* )
              </p>
            </div>
          </div>

          <div class="offer-item">
            <div id="planting-slider" class="slider">
                <img class="prevSlide">
                <img class="currentSlide">
            </div>
            <div class="offer-item-head txt-center">
              <p>Planting</p>
              <p>
                Need new plants , flowers, trees ? We will help to chose right one and plant it for You.
              </p>
            </div>
          </div>

          <div class="offer-item">
            <div id="landscapeing-slider" class="slider">
                <img class="prevSlide">
                <img class="currentSlide">
            </div>
            <div class="offer-item-head txt-center">
              <p>Landscaping</p>
              <p>
                We can help with any modifications to your existing garden, our team will provide best quality service. Call us to discuss your plans!
              </p>
            </div>
          </div>

          <div class="offer-item">
            <div id="powerwashing-slider" class="slider">
                <img class="prevSlide">
                <img class="currentSlide">
            </div>
            <div class="offer-item-head txt-center">
              <p>Power Washing</p>
              <p>
              </p>
            </div>
          </div>
        </section>
      </article>
    </div>
{% endblock %}
