{% extends 'layout.html' %}

{% block content %}
  <div class="row center-xs site-item">
      <article id="testimonials" class="col-xs-12 col-lg-10 panel shadow-6 frame">
        <header>
          <h2>Our Partners :</h2>
        </header>
        <section>
          {% for partner in partners %}
          <div class="row center-xs">
            <div class="col-xs-12 panel background">
              <div class="row center-xs partners">
                <div class="col-xs-12 col-md-3 partner-logo txt-center">
                  <a href="{{ partner.get('url') }}">
                    <img src="/media/partners/{{ partner.get('logo') }}">
                  </a>
                </div>
                <div class="col-xs-12 col-md-9 partner-info">
                  <div class="row">
                    <div class="col-xs-3 col-md-2 txt-right"><stong>Name : </stong></div>
                    <div class="col-xs-9 col-md-10">{{ partner.get('name') }}</div>
                  </div>
                  <div class="row">
                    <div class="col-xs-3 col-md-2 txt-right"><stong>WWW : </stong></div>
                    <div class="col-xs-9 col-md-10"><a href="{{ partner.get('url') }}">{{ partner.get('url') }}</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </section>
      </article>
    </div>
{% endblock %}
