{% for review in reviews %}
<div class="row center-xs">
  <div class="col-xs-12 panel background">
    <div class="row">
      <div class="col-xs-1">{{ review.get('profile_photo_url') }}</div>
      <div class="col-xs-3"><a href="{{ review.get('author_url') }}">{{ review.get('author_name') }}</a></div>
    </div>

    <div class="row">
      <div class="col-xs-2">{{ review.get('rating') }}</div>
      <div class="cols-xs-3">{{ review.get('relative_time_description') }}</div>
    </div>

  </div>
</div>
{% endfor %}
